



body{
    background-color: teal;
}




#completed-trips {
    margin: 20px;
}

#completed-trips table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#completed-trips th, #completed-trips td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#completed-trips th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

#completed-trips tr {
    background-color: blanchedalmond;
}

#completed-trips tr:hover {
    background-color: moccasin;
}

#completed-trips td {
    color: blueviolet
}

#completed-trips th, #completed-trips td {
    padding: 12px 15px;
}

#completed-trips table {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}