body{
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    background-color: #f0f0f0 ;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 420px;
    margin: 40px auto;
    text-align: center;
}

h1{
    margin-bottom: 40px;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}


.form-group label{
    display: inline block;
    width: 30%;
    text-align: right;
    margin-right: 30px;
    font-size: 1.2em;
}


.form-group input, .form-group textarea{
    width: 70%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-sizing: border-box;
    font-size: 1em;
}



#register{
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#register:hover{
    background-color:#0047AB
}


#reset{
    margin-left: 150px;
    background-color: yellowgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#reset:hover{
    background-color:rgb(251, 217, 131);
}

